footer {
  border-top: 1px solid rgba(255,255,255,0.25);
  margin-top: 5px;
}

.App {
  text-align: center;
  min-height: 500px;
}

.source-links {
  display: flex;
  justify-content: center;
}

.source-links p {
  font-size: 0.9em;
  margin: 5px 10px;
}

.source-links a {
  color: #59886B;
}

.fan-policy {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.fan-policy p {
  margin: 5px 0;
}
