footer {
  border-top: 1px solid rgba(255,255,255,0.25);
}

.App {
  text-align: center;
}

.game-opts {
  height: 500px;
}

.game-opts button {
  background: #E09200;
  border: none;
  border-radius: 10px;
  color: gainsboro;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}

.game-opts button:active {
  background: #E09200CD;
}

.source-links {
  display: flex;
  justify-content: center;
}

.source-links p {
  font-size: 0.9em;
  margin: 5px 10px;
}

.source-links a {
  color: #59886B;
}

.fan-policy {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.fan-policy p {
  margin: 5px 0;
}
