.button-row button {
    background: #E09200;
    border: none;
    border-radius: 10px;
    color: gainsboro;
    font-weight: bold;
    margin: 10px;
    padding: 10px 0;
    width: 100px;
}

.button-row button:active {
    background: #E09200CD;
}

.plane-card img {
    width: 80%;
}
